# ignorar el entorno virtual de Python
.venv/

# Ignorar archivos de cache de Python
__pycache__/
*.py[cod]

# Ignorar archivos especificos de IDE
.vscode/
# Ignorar archivo de variables de entorno
.env
# Ignorar todo el contenido de la carpeta data
data/*s